
@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Light.woff2') format('woff2'), 
			 url('../fonts/MaisonNeue-Light.woff') format('woff'), 
			 url('../fonts/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'), 
			 url('../fonts/MaisonNeue-Book.woff') format('woff'), 
			 url('../fonts/MaisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'), 
			 url('../fonts/MaisonNeue-Bold.woff') format('woff'), 
			 url('../fonts/MaisonNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}