
$pri-color: #bbe;
$sec-color: #CBE;
$grey-color: #999;
$blue-color: #07d;

$sec-dark-color: #254;

$header-copy: #bbe;

$card-blue-color: #131371;
$card-green-color: #007150;
$card-indigo-color: #5E239D;

$card-btn-blue-color: #0677DB;
$card-btn-green-color: #00D89A;
$card-btn-indigo-color: #5E239D;

$grid-columns: 12;
