
.footer {
  color: #fff;
  padding-bottom: 50px;

  &-top {
    margin-bottom: 50px;

    &-social {
      &-item {
        margin-right: 30px;
      }
    }

    &-nav {
      &-item {
        margin-left: 30px;
      }
    }
  }
}